.copy_right_footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: darkblue
}


img:hover{
border-radius: 140px;
box-shadow: 0 6px 8px rgba(2, 2, 2, 0.2);
}